body {
  background-color: black;
  color: white;

  overflow: hidden;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  -webkit-text-stroke: 3px black;

  margin: 0;
  padding: 0;

  width: 100%;
  height: 100vh;
}

#calibration {
  position: absolute;
  background-color: rgba(255, 0, 0, 0.5);
  width: 48px;
  height: 48px;
  transform: translate(-50%, -50%);
  border-radius: 48px;
}

#calibration::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 8px;
}

/* Throw pivot container */
.t-pivot {
  position: absolute;
}

/* Animated container, apply some animation changes */
.t-anim,
.t-pivot {
  -webkit-animation-timing-function: linear !important;
  animation-timing-function: linear !important;
  -webkit-animation-fill-mode: both !important;
  animation-fill-mode: both !important;
}

.thrown {
  position: absolute;
}

* {
  pointer-events: none;
}

@keyframes throwLeft {
  0% {
    transform: rotate(var(--rotate-angle)) translate(-150vw, 0vh);
  }
  25% {
    transform: rotate(var(--rotate-angle)) translate(-75vw, -10vh);
  }
  50% {
    transform: rotate(var(--rotate-angle)) translate(0vw, 0vh);
  }
  100% {
    transform: rotate(var(--rotate-angle)) translate(-30vw, -120vh);
  }
}

@keyframes throwRight {
  0% {
    transform: rotate(var(--rotate-angle)) translate(150vw, 0vh);
  }
  25% {
    transform: rotate(var(--rotate-angle)) translate(75vw, -10vh);
  }
  50% {
    transform: rotate(var(--rotate-angle)) translate(0vw, 0vh);
  }
  100% {
    transform: rotate(var(--rotate-angle)) translate(30vw, -120vh);
  }
}

@keyframes spinClockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinCounterClockwise {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
